/* Dispositivos pequeños (moviles, 600px o menos) */
@media only screen and (max-width: 600px) {
    .jumbotron-fluid {
        display: grid;
        align-content: center;
        height: 200px;
        color: red;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .jumbotron-fluid{
        color: red;
    }

}