#contenedor {
    background-color: #663300;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7%;
    text-align: center;
    margin-top: auto;
   

}

#contenedor li {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}