#contenedor {
    background-color: #663300;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 9%;
    text-align: center;
    margin-top: auto;


}

#contenedor li {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-2px);
}

a.twitter {
    color: #49a1eb;
}

a.instagram {
    color: black;
}